examples/flows/duplicate-example.json
[
  {
    "id": "48d5e447.190164",
    "type": "tab",
    "label": "Duplicate Record Example",
    "disabled": false,
    "info": ""
  },
  {
    "id": "336104ad.7763d4",
    "type": "debug",
    "z": "48d5e447.190164",
    "name": "debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 750,
    "y": 160,
    "wires": []
  },
  {
    "id": "24533f76.b2d868",
    "type": "inject",
    "z": "48d5e447.190164",
    "name": "Inject",
    "topic": "",
    "payload": "{\"layout\":\"People\"}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 150,
    "y": 160,
    "wires": [["bda01c1e.eb606"]]
  },
  {
    "id": "5f35faf3.13360c",
    "type": "dapi-duplicate",
    "z": "48d5e447.190164",
    "name": "",
    "client": "5e4fe59f.10af64",
    "layout": "payload.layout",
    "layoutType": "msg",
    "recordId": "payload.data[0].recordId",
    "recordIdType": "msg",
    "scripts": "",
    "scriptsType": "none",
    "output": "payload.duplicate",
    "x": 550,
    "y": 160,
    "wires": [["336104ad.7763d4"]]
  },
  {
    "id": "bda01c1e.eb606",
    "type": "dapi-list-records",
    "z": "48d5e447.190164",
    "name": "",
    "client": "5e4fe59f.10af64",
    "layout": "payload.layout",
    "layoutType": "msg",
    "limit": "1",
    "limitType": "num",
    "offset": "",
    "offsetType": "num",
    "sort": "",
    "sortType": "none",
    "scripts": "",
    "scriptsType": "none",
    "portals": "",
    "portalsType": "none",
    "output": "payload",
    "x": 330,
    "y": 160,
    "wires": [["5f35faf3.13360c"]]
  },
  {
    "id": "c2b27d54.7d8d",
    "type": "catch",
    "z": "48d5e447.190164",
    "name": "errors",
    "scope": null,
    "uncaught": false,
    "x": 590,
    "y": 220,
    "wires": [["336104ad.7763d4"]]
  },
  {
    "id": "5e4fe59f.10af64",
    "type": "dapi-client",
    "z": "",
    "name": "Example Client"
  }
]
