examples/flows/find-example.json
[
    {
        "id": "7ebb0b0e.3c2ca4",
        "type": "tab",
        "label": "Find Example Flow",
        "disabled": false,
        "info": "This flow is an example of performing a FileMaker find."
    },
    {
        "id": "c7beb341.390b2",
        "type": "inject",
        "z": "7ebb0b0e.3c2ca4",
        "name": "Inject",
        "topic": "",
        "payload": "{\"layout\":\"people\",\"query\":{\"name\":\"*\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "d0368371.f27e7"
            ]
        ]
    },
    {
        "id": "a6ba32f6.331fa8",
        "type": "catch",
        "z": "7ebb0b0e.3c2ca4",
        "name": "errors",
        "scope": null,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "41f544cc.47b5a4"
            ]
        ]
    },
    {
        "id": "41f544cc.47b5a4",
        "type": "debug",
        "z": "7ebb0b0e.3c2ca4",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "d0368371.f27e7",
        "type": "dapi-perform-find",
        "z": "7ebb0b0e.3c2ca4",
        "name": "",
        "client": "ab7c3e95.99ab38",
        "layout": "payload.layout",
        "layoutType": "msg",
        "limit": "",
        "limitType": "num",
        "offset": "",
        "offsetType": "num",
        "sort": "",
        "sortType": "none",
        "query": "payload.query",
        "queryType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "portals": "",
        "portalsType": "none",
        "output": "payload.find",
        "x": 310,
        "y": 60,
        "wires": [
            [
                "41f544cc.47b5a4"
            ]
        ]
    },
    {
        "id": "ab7c3e95.99ab38",
        "type": "dapi-client",
        "z": "",
        "name": "Example Client"
    }
]