.README.md.backup
[{"id":"2edad84c.7082d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b9e1a797.7683a8","type":"filemaker-api-client","z":"","server":"https://fm.mutesymphony.com","name":"Mute Symphony Server","application":"fms-api-app","user":"obi-wan","password":"kenobi","usage":true},{"id":"e514a3e.3c9c66","type":"inject","z":"2edad84c.7082d8","name":"","topic":"hello","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":"3","x":90,"y":80,"wires":[["aa0516d7.15d878"]]},{"id":"6b55358c.9ea93c","type":"debug","z":"2edad84c.7082d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":160,"wires":[]},{"id":"2a62cf76.775bc","type":"template","z":"2edad84c.7082d8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":200,"y":520,"wires":[[]]},{"id":"aa0516d7.15d878","type":"function","z":"2edad84c.7082d8","name":"","func":"let something = {\n    layout: \"Heroes\",\n    limit:2,\n    offset: 1\n}\nreturn something","outputs":1,"noerr":0,"x":170,"y":200,"wires":[["c39728bd.03efd8"]]},{"id":"c39728bd.03efd8","type":"list-records","z":"2edad84c.7082d8","client":"b9e1a797.7683a8","layout":"","limit":"","offset":"","select":true,"x":450,"y":160,"wires":[["6b55358c.9ea93c"]]}]