.README.md.backup
[{"id":"c27d74b3.69cdc8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"921f3e06.b597b","type":"filemaker-api-client","z":"","server":"https://fm.mutesymphony.com","name":"My FMS Client","application":"fms-api-app","user":"obi-wan","password":"kenobi","usage":true},{"id":"a5ad6b74.e27668","type":"inject","z":"c27d74b3.69cdc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"1","x":230,"y":180,"wires":[[]]},{"id":"ba78aa32.02d8c8","type":"list-records","z":"c27d74b3.69cdc8","client":"921f3e06.b597b","layout":"Heroes","limit":"","offset":"","scripts":"","portals":"","select":true,"x":550,"y":300,"wires":[["3219e494.cd680c","20462d8f.ad7a02"]]},{"id":"f114c363.d5b7b8","type":"http in","z":"c27d74b3.69cdc8","name":"heroes","url":"/heroes","method":"get","upload":false,"swaggerDoc":"","x":200,"y":320,"wires":[["ba78aa32.02d8c8"]]},{"id":"3219e494.cd680c","type":"http response","z":"c27d74b3.69cdc8","name":"Response","statusCode":"200","headers":{},"x":880,"y":300,"wires":[]},{"id":"20462d8f.ad7a02","type":"debug","z":"c27d74b3.69cdc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1250,"y":240,"wires":[]}]